* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: url("/photo/gd-house.jpg");
}

/* container */
.home {
  text-align: center;
}

/* title */
.title {
  font-size: 48px;
  font-weight: 900;
  color: #ffe46e;
  padding: 15px 25px;
  -webkit-text-stroke: 4px #5b2c00;
  text-shadow: 0 4px 0 #5b2c00, 0 6px 8px rgba(0, 0, 0, 0.4);
  letter-spacing: 2px;
}

/* button style */
.btn {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 230px;
  padding: 18px 0;
  margin: 12px auto;
  font-size: 22px;
  font-weight: 700;
  border-radius: 40px;
  color: white;
  border: 4px solid #5c1e00;
  cursor: pointer;
  background: linear-gradient(#ff9b00, #d95000);
  box-shadow: 0 6px 0 #5c1e00;
  transition: 0.2s;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 0 #5c1e00;
}
