:root {
  --brown: #5c1e00;
  --brown-dark: #3a1300;
  --gold: #ffe46e;
  --orange-1: #ff9b00;
  --orange-2: #d95000;
  --paper: #fff7e6;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: url("/photo/gd-house.jpg") center/cover
    fixed;
}

/* NAVBAR */
.custom-nav {
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(3px);
  border-bottom: 3px solid var(--brown);
  box-shadow: 0 4px 0 var(--brown-dark);
}

nav.custom-nav .nav-link {
  background: linear-gradient(var(--orange-1), var(--orange-2));
  border: 3px solid var(--brown);
  border-radius: 26px;
  padding: 6px 16px !important;
  margin-left: 12px;
  font-weight: 700;
  color: #fff !important;
  box-shadow: 0 4px 0 var(--brown);
  display: flex;
  align-items: center;
  gap: 6px;
  transition: 0.2s;
}

nav.custom-nav .nav-link:hover {
  transform: translateY(-3px);
  box-shadow: 0 9px 0 var(--brown);
}

/* CARD INFO */
.glass {
  background: rgba(255, 255, 255, 0.78);
  border: 3px solid var(--brown);
  box-shadow: 0 8px 0 var(--brown-dark);
  border-radius: 24px;
  padding: 18px;
}

.title-chip {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: linear-gradient(var(--orange-1), var(--orange-2));
  padding: 6px 14px;
  border-radius: 18px;
  border: 3px solid var(--brown);
  color: #fff;
  font-weight: 800;
}

.note {
  font-size: 1rem;
}

#btn-prev {
  background: linear-gradient(var(--orange-1), var(--orange-2));
  border: 3px solid var(--brown);
  border-radius: 26px;
  padding: 12px 32px;
  font-weight: 800;
  color: #fff;
  margin-top: 20px;
  box-shadow: 0 4px 0 var(--brown);
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  justify-content: center;
}
