* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../photo/gd-house.jpg");
}

.box {
  width: 90%;
  max-width: 480px;
  background: rgba(255, 244, 220, 0.85);
  border: 5px solid #5c2f00;
  border-radius: 30px;
  padding: 32px;
  box-shadow: 0 12px 0 #5c2f00;
  text-align: center;
}

.title {
  font-size: 40px;
  font-weight: 900;
  color: #ffd23f;
  -webkit-text-stroke: 3px #5c2f00;
  text-shadow: 0 4px 0 #5c2f00;
  margin-bottom: 28px;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  gap: 14px;
  margin-bottom: 25px;
}

.cardP {
  flex: 1;
  background: linear-gradient(#ffce74, #e29a46);
  border: 3px solid #5c2f00;
  border-radius: 22px;
  padding: 12px;
  box-shadow: 0 6px 0 #5c2f00;
}

.pict {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #5c2f00;
  margin-bottom: 10px;
}

.pName {
  font-size: 18px;
  font-weight: 700;
  color: #5c2f00;
}

.pNim {
  font-size: 15px;
  color: black;
  font-weight: 600;
}

.label {
  font-size: 19px;
  font-weight: 700;
  color: #5c2f00;
  margin-top: 10px;
}

.content {
  font-size: 18px;
  color: #2b2b2b;
}

.btnBack {
  background: linear-gradient(#ff9b00, #d95000);
  border: 4px solid #5c2f00;
  box-shadow: 0 6px 0 #5c2f00;
  color: white;
  width: 180px;
  padding: 14px;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 700;
  font-size: 20px;
  margin-top: 22px;
  transition: 0.2s;
}
.btnBack:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 0 #5c2f00;
}
